<div class="slideout-content">
    <div class="modalsd modal-slide-in sdfade app-group-management-modal" id="modals-slide-in">
        <div class="modal-dialog" style="width: 1000px">
            <div class="modal-content p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="toggleSidebar('app-supplier-info')">
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title">
                        <span class="align-middle"> {{ headerTitle }}</span>
                    </h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="content-wrapper container-xxl p-0">
                        <div class="content-body">
                            <div class="card shadow-none bg-transparent border-secondary">
                                <div class="card-body">
                                    <form class="form" (ngSubmit)="(TDSimpleForm.form.valid)" #TDSimpleForm="ngForm">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right"
                                                style="margin-right: 0px" for="supplierName">ชื่อบริษัทสินค้า<span
                                                    style="color: red">*</span></label>
                                            <div class="col-4">
                                                <input type="text" id="supplierName" class="form-control" [class.error]="
                            TDSimpleForm.submitted && supplierNameRef.invalid
                          " [(ngModel)]="inputData.supplierName" name="supplierName" #supplierNameRef="ngModel"
                                                    required placeholder="ชื่อบริษัทสินค้า" name="supplierName" />
                                                <span *ngIf="
                            TDSimpleForm.submitted && supplierNameRef.invalid
                          " class="invalid-form">
                                                    <small class="form-text text-danger"
                                                        *ngIf="supplierNameRef.errors.required">กรุณาระบุชื่อบริษัทสินค้า</small>
                                                </span>
                                            </div>
                                            <!--  -->
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="supplierGroupName">กลุ่มบริษัท<span
                                                    style="color: red">*</span></label>
                                            <div class="col-4">
                                                <ng-select [items]="selectGroup" bindLabel="groupname"
                                                    bindValue="groupname" [(ngModel)]="inputData.supplierGroupName"
                                                    name="supplierGroupName" placeholder="เลือกกลุ่มบริษัท">
                                                    <!--    -->
                                                </ng-select>

                                                <!-- <span *ngIf="TDSimpleForm.submitted && supplierGroupNameRef.invalid" class="invalid-form">
                                                    <small class="form-text text-danger" *ngIf="supplierGroupNameRef.errors.required"
                                                      >กรุณาระบุกลุ่มบริษัท</small
                                                    >
                                                  </span> -->
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="address">ที่อยู่</label>
                                            <div class="col-4">
                                                <fieldset class="form-group">
                                                    <textarea class="form-control" id="address" rows="2"
                                                        placeholder="ที่อยู่" [(ngModel)]="inputData.address"
                                                        name="address"></textarea>
                                                </fieldset>
                                            </div>
                                            <!--  -->
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="province">จังหวัด</label>
                                            <div class="col-4">
                                                <ng-select [items]="selectprovice" bindLabel="province"
                                                    placeholder="เลือกจังหวัด" [(ngModel)]="inputData.province"
                                                    name="province">
                                                </ng-select>
                                                <!-- <select class="form-control mb-1" id="province">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select> -->
                                            </div>
                                            <!--  -->
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="amphur">อำเภอ</label>
                                            <div class="col-4">
                                                <ng-select [items]="selectamphur" bindLabel="amphur"
                                                    placeholder="เลือกอำเภอ" [(ngModel)]="inputData.amphur"
                                                    name="amphur">
                                                </ng-select>
                                                <!-- <select class="form-control mb-1" id="amphur">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select> -->
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="tumbon">ตำบล</label>
                                            <div class="col-4">
                                                <ng-select [items]="selecttumbon" bindLabel="tumbon"
                                                    placeholder="เลือกตำบล" [(ngModel)]="inputData.tumbon"
                                                    name="tumbon">
                                                </ng-select>
                                                <!-- <select class="form-control mb-1" id="tumbon">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select> -->
                                            </div>
                                            <!--  -->
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="postcode">รหัสไปรษณีย์</label>
                                            <div class="col-4">
                                                <input type="text" id="postcode" class="form-control"
                                                    placeholder="รหัสไปรษณีย์" name="postcode"
                                                    [(ngModel)]="inputData.tumbon" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="contactPerson">พนักงงานที่ติดต่อได้</label>
                                            <div class="col-4">
                                                <input type="text" id="contactPerson" class="form-control"
                                                    placeholder="พนักงงานที่ติดต่อได้" name="contactPerson"
                                                    [(ngModel)]="inputData.contactPerson" />
                                            </div>
                                            <!--  -->
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="contactPersonPosition">ตำแหน่ง/ฝ่าย</label>
                                            <div class="col-4">
                                                <input type="text" id="contactPersonPosition" class="form-control"
                                                    placeholder="ตำแหน่ง/ฝ่าย" name="contactPersonPosition"
                                                    [(ngModel)]="inputData.contactPersonPosition" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="mobilePhone">มือถือ</label>
                                            <div class="col-4">
                                                <input type="text" id="mobilePhone" class="form-control"
                                                    placeholder="มือถือ" name="mobilePhone"
                                                    [(ngModel)]="inputData.mobilePhone" />
                                            </div>
                                            <!--  -->
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="phone">โทรศัทพ์</label>
                                            <div class="col-4">
                                                <input type="text" id="phone" class="form-control"
                                                    placeholder="โทรศัทพ์" name="phone" [(ngModel)]="inputData.phone" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right" for="fax">Fax</label>
                                            <div class="col-4">
                                                <input type="text" id="fax" class="form-control" placeholder="fax"
                                                    name="fax" [(ngModel)]="inputData.fax" />
                                            </div>
                                            <!--  -->
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="email">Email</label>
                                            <div class="col-4">
                                                <input type="text" id="email" class="form-control" placeholder="email"
                                                    name="email" [(ngModel)]="inputData.email" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="paymentType">ประเภทการชำระ</label>
                                            <div class="col-4">
                                                <ng-select [items]="selectpaymentType" bindLabel="paymentType"
                                                    placeholder="เลือกประเภทการชำระ" [(ngModel)]="inputData.paymentType"
                                                    name="paymentType">
                                                </ng-select>
                                                <!-- <select class="form-control mb-1" id="paymentType">
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select> -->
                                            </div>
                                            <!--  -->
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="paymentCondition">เงื่อนไขการชำระ</label>
                                            <div class="col-4">
                                                <input type="text" id="paymentCondition" class="form-control"
                                                    placeholder="paymentCondition" name="paymentCondition"
                                                    [(ngModel)]="inputData.paymentCondition" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="deliver">การจัดส่ง</label>
                                            <div class="col-4">
                                                <fieldset class="form-group">
                                                    <textarea class="form-control" id="deliver" rows="2"
                                                        placeholder="การจัดส่ง" [(ngModel)]="inputData.deliver"
                                                        name="deliver"></textarea>
                                                </fieldset>
                                            </div>
                                            <!--  -->
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="notes">หมายเหตุ</label>
                                            <div class="col-4">
                                                <fieldset class="form-group">
                                                    <textarea class="form-control" id="notes" rows="2"
                                                        placeholder="หมายเหตุ" [(ngModel)]="inputData.notes"
                                                        name="notes"></textarea>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-md-right"
                                                for="groupMat">กลุ่มวัสดุ</label>
                                            <div class="col-10">
                                                <div class="form-group">
                                                    <!-- Basic Multi select -->
                                                    <ng-select [items]="selectGroup" [multiple]="true"
                                                        [closeOnSelect]="false" [searchable]="false"
                                                        bindLabel="groupname" placeholder="Select people"
                                                        [(ngModel)]="inputData.groupMat" name="groupMat">
                                                    </ng-select>
                                                    <!--/ Basic Multi select -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="pull-right">
                                                <button type="submit" rippleEffect
                                                    class="btn btn-gradient-success mr-1">
                                                    บันทึก
                                                </button>
                                                <button type="reset" rippleEffect class="btn btn-gradient-danger" (click)="toggleSidebar('app-supplier-info')">
                                                    ยกเลิก
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>