
.vs/
.svn/
.git/

node_modules.rar

.vs/KKN.VP.Solution/DesignTimeBuild/.dtbcache.v2
.vs/KKN.VP.Solution/v16/.suo

KKN.Core/bin/
KKN.Core/obj/

KKN.Dao/bin/
KKN.Dao/obj/

KKN.Model/bin/
KKN.Model/obj/

KKN.Service/bin/
KKN.Service/obj/

KKN.VP.API/bin/
KKN.VP.API/obj/


KKN.VP.Web/ClientApp/node_modules/.cache