@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/select.component.scss';

.ppd {
    padding-right: 0;
};

.hrw {
    display: block;
    border-bottom: 1px dashed
};