<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <app-content-header
          [contentHeader]="contentHeader"
        ></app-content-header>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div
          class="btn-group pull-right"
          role="group"
          aria-label="Basic example"
        >
          <button
            type="button"
            class="btn btn-secondary"
            data-toggle="modal"
        data-target="#app-group-management"
        (click)="toggleSidebar('app-group-management')"
            rippleEffect
          >
            จัดการกลุ่ม
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-toggle="modal"
            data-target="#app-category-management"
            (click)="toggleSidebar('app-category-management')"
            rippleEffect
          >
            จัดการประเภท
          </button>
          <button
          type="button"
          class="btn btn-secondary"
          data-toggle="modal"
          data-target="#app-uom-management"
          (click)="toggleSidebar('app-uom-management')"
          rippleEffect
        >
          จัดการหน่วยวัสดุ
        </button>
          <button type="button" class="btn btn-secondary" rippleEffect>
            จัดการวัสดุ
          </button>
        </div>
      </div>

    </div>






<!-- 




    <ng-container *ngIf="templateID === 0; then mainTemplate; else infoTemplate"></ng-container>

    <ng-template #mainTemplate>






    </ng-template>

    
    <ng-template #infoTemplate>


      <app-create-material [(templateID)]=templateID [inputData]=rowSelected [itemGroupList]=itemGroupList
      (afterSaveClick)=infoAfterSaveClick($event)>
    </app-create-material>



    </ng-template> -->

    




















    <!-- Basic Alerts start -->
    <section id="material-page" class="mt-1">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="input-group input-group-merge mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon-search2"
                ><i data-feather="search"></i
              ></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              aria-label="Search..."
              aria-describedby="basic-addon-search2"
            />
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="form-group">
            <select class="form-control mb-1" id="selectDefault">
              <option hidden selected disabled>Open this select Group</option>
              <option *ngFor="let Group of grouplist" [value]="Group.group_id">
                {{ Group.group_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="form-group">
            <select class="form-control mb-1" id="selectDefault">
              <option hidden selected disabled>Open this select menu</option>
              <option
                *ngFor="let Category of categorylist"
                [value]="Category.category_id"
                [groupvalue]="Category.group_id"
              >
                {{ Category.category_name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <button type="button" class="btn btn-gradient-primary">Search</button>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-12">
          <button
            type="button"
            class="btn btn-gradient-success pull-right"
            [routerLink]="['../material/create-material']"
          >
            เพิ่มวัสดุใหม่
          </button>
        </div>
      </div>
    </section>
    <!-- Basic Alerts end -->


    
    <!-- Hoverable rows -->
    <div class="row" id="table-hover-row">
      <div class="col-12">
        <div class="card">
          <!-- <div class="card-header">
            <h4 class="card-title">Hoverable rows</h4>
          </div> -->

          <div class="row">
        

            <div class="col-3 ml-3">
              <div class="input-group    mt-1 mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon-search1"><i data-feather="search"></i></span>
                </div>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search..."
                  aria-label="Search..."
                  aria-describedby="basic-addon-search1"
                />
              </div>
            </div>
  
           
            

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  m-1
                  pull-right
                "
              >
                <label class="d-flex align-items-center"
                  >Show
                  <select
                    class="form-control mx-25"
                    [(ngModel)]="basicSelectedOption"
                  >
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                  entries</label
                >
              </div>
            </div>



            
  
          </div>
        
     
          

          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr >

                  <th >#</th>
                  <th >รหัส</th>
                  <th >กลุ่ม</th>
                  <th >ประเภท</th>
                  <th >รายการวัสดุ</th>
                  <th >สถานะ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of itemlist;let i =index ">
                  <td >
                    <span>{{i+1}}</span>
                  </td>

                  <td >
                    <span class="font-weight-bold">{{ item.item_no }}</span>
                  </td>

                  <td >{{ item.group_id }}  </td>
                  <td >{{ item.category_id }}  </td>

                  <td >{{ item.item_name }} {{ item.version }} {{ item.size }} {{ item.brand }} {{ item.color }} </td>
                  
      
                  
                  <td >
                    
                    <span class="badge badge-pill badge-light-success mr-1"
                      >ใช้งาน</span
                    >
                  </td>
                </tr>
              </tbody>

              <tfoot>
             
              </tfoot>
              
    
       
  
            </table>
            <div class="mr-2 mt-1 pull-right">        <ngb-pagination 
              [collectionSize]="50"
              [(page)]="pageBasicText"
              aria-label="Custom pagination"
            >
              <ng-template ngbPaginationPrevious
                ><span
                  [data-feather]="'chevron-left'"
                  [class]="'font-weight-bolder'"
                ></span
                >Prev
              </ng-template>
              <ng-template ngbPaginationNext
                >Next<span
                  [data-feather]="'chevron-right'"
                  [class]="'font-weight-bolder'"
                ></span>
              </ng-template>
            </ngb-pagination></div>
    
          </div>
        </div>
      </div>
    </div>
    <!--/ Hoverable rows -->



  </div>




  <!-- Add Payment Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="app-group-management"
    overlayClass="modal-backdrop"
    hideOnEsc="true"
  >
    <app-group-management></app-group-management>
  </core-sidebar>
  <!--/  Add Payment Sidebar -->



   <!-- Add Payment Sidebar -->
   <core-sidebar
   class="modal modal-slide-in sidebar-todo-modal fade"
   name="app-category-management"
   overlayClass="modal-backdrop"
   hideOnEsc="true"
 >
   <app-category-management></app-category-management>
 </core-sidebar>
 <!--/  Add Payment Sidebar -->

   
   <!-- Add Payment Sidebar -->
   <core-sidebar
   class="modal modal-slide-in sidebar-todo-modal fade"
   name="app-uom-management"
   overlayClass="modal-backdrop"
   hideOnEsc="true"
 >
   <app-uom-management></app-uom-management>
 </core-sidebar>
 <!--/  Add Payment Sidebar -->

</div>









<!-- 

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex">
    <div
      class="
        d-flex
        align-items-center
        justify-content-end
        pr-1
        pb-1
        pl-1 pl-md-0
        pb-md-0
      "
    >
      <label class="d-flex align-items-center"
        >Search<input
          type="search"
          placeholder="Search"
          class="form-control ml-25"
          (keyup)="filterUpdate($event)"
      /></label>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div
      class="
        d-flex
        justify-content-between
        align-items-center
        m-1
        pull-right
      "
    >
      <label class="d-flex align-items-center"
        >Show
        <select
          class="form-control mx-25"
          [(ngModel)]="basicSelectedOption"
        >
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        entries</label
      >
    </div>
  </div>
</div>
<ngx-datatable
  [rows]="kitchenSinkRows"
  [rowHeight]="58"
  class="bootstrap core-bootstrap"
  [limit]="10"
  [columnMode]="ColumnMode.force"
  [headerHeight]="40"
  [footerHeight]="50"
  [scrollbarH]="true"
  [selectionType]="SelectionType.cell"
  [limit]="basicSelectedOption"
  (activate)="onActivate($event)"
  (select)="onSelect($event)"
  (click)="singleClick($event)"
>
  <ngx-datatable-column
    [width]="50"
    [sortable]="false"
    [canAutoResize]="false"
    [draggable]="false"
    [resizeable]="false"
  >
    <ng-template
      ngx-datatable-cell-template
      let-rowIndex="rowIndex"
      let-value="value"
      let-isSelected="isSelected"
      let-onCheckboxChangeFn="onCheckboxChangeFn"
    >
      <div class="custom-control custom-checkbox">
        <input
          type="checkbox"
          class="custom-control-input"
          [checked]="isSelected"
          (change)="onCheckboxChangeFn($event)"
          id="rowChkbxRef{{ rowIndex }}"
        />
        <label
          class="custom-control-label"
          for="rowChkbxRef{{ rowIndex }}"
        ></label>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    name="รหัสกลุ่ม"
    prop="item_no"
    [width]="150"
  >
  </ngx-datatable-column>
  <ngx-datatable-column
    name="ชื่อกลุ่ม"
    prop="item_name "
    [width]="200"
  ></ngx-datatable-column>

  <ngx-datatable-column
    name="Status"
    prop="active"
    [width]="120"
  >
    <ng-template
      let-status="value"
      ngx-datatable-cell-template
    >
      <div
        class="badge badge-pill"
        [ngClass]="{
          'badge-light-primary': status == '1',
          'badge-light-success': status == '2',
          'badge-light-danger': status == '3',
          'badge-light-warning': status == '4',
          'badge-light-info': status == '5'
        }"
      >
        {{
          status == 1
            ? "Current"
            : status == 2
            ? "Professional"
            : status == 3
            ? "Rejected"
            : status == 4
            ? "Resigned"
            : status == 5
            ? "Applied"
            : "Applied"
        }}
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable> -->
